[Desktop Entry]
Type=Application
Version=1.0
Name=Homepage
GenericName=Homepage
Comment=Open Homepage dashboard
Exec=/usr/bin/xdg-open "http://192.168.1.85:3000"
Icon=homepage
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=false
