[Desktop Entry]
Type=Application
Version=1.0
Name=Home Assistant
GenericName=Home Assistant
Comment=Open Home Assistant dashboard
Exec=ha-open
Icon=home-assistant
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=false
