[Desktop Entry]
Name=Theme
Comment=Toggle between dark and light mode
Exec=/usr/bin/darkman toggle
Terminal=false
Type=Application
Icon=theme-sun
Categories=Settings;
Keywords=dark;light;theme;night;
