[Unit]
Description=Schedule next dark/light theme transition
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=oneshot
ExecCondition=sh -c '[ -n "$NIRI_SOCKET" ]'
ExecStart=/home/davideresigotti/.config/niri/scripts/schedule-theme-transitions
